.myThumbnailWithPhoto {
    position: relative;

    p {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 36%;
        width: 100%;
        font-weight: bold;
        color: white;
    }
}

.myThumbnailWithoutPhoto {
    position: relative;

    p {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 36%;
        width: 100%;
        font-weight: bold;
        color: black;
    }
}

.exifOrientation3 {
    transform:rotate(180deg);
}

.exifOrientation6 {
    transform:rotate(90deg);
}

.exifOrientation8 {
    transform:rotate(270deg);
}