<ion-header>
  <ion-toolbar>
    <ion-title text-center [@myPriceTrigger]="totalPrice">
      <app-animate-number
        [formatter]="formatter4Title"
        [target]="totalPrice"
      ></app-animate-number>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="removeAll()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items; trackBy: trackBy4ShopItemList"
        size-sm="6"
        size-md="4"
        size-xl="3"
        @myInsertRemoveTrigger
      >
        <app-shop-item [id]="item._id"></app-shop-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="onAddItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>