<ion-header>
  <ion-toolbar>
    <ion-title>Total: {{calcTotalPrice() | currency}}</ion-title>
    <ion-buttons
      slot="end"
    >
      <ion-button
        color="danger"
        (click)="removeAll()"
      >
        <ion-icon
          slot="icon-only"
          name="trash"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list inset>
    <div *ngFor="let item of items">
      <app-shop-item
        [item]="item"
        (incUnit)="shopItemIncUnitCB(item)"
        (decUnit)="shopItemDecUnitCB(item)"
        (showDetail)="shopItemShowDetailCB(item)"
      ></app-shop-item>
    </div>      
  </ion-list>
  <ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
  >
    <ion-fab-button
      (click)="onAddItem()"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
