<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list inset>
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="myItem.name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Unit Price</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="myItem.unitPrice"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Num Unit</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="myItem.numUnit"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="takePicture()">Take Photo</ion-button>
    <ion-item *ngIf="myItem.imgURI">
        <ion-img [src]="myItem.imgURI"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>