<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons *ngIf="id" slot="end">
      <ion-button color="danger" (click)="remove()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list inset>
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input type="text" [(ngModel)]="myItem.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Unit Price</ion-label>
      <ion-input type="number" [(ngModel)]="myItem.unitPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Num Unit</ion-label>
      <ion-input type="number" [(ngModel)]="myItem.numUnit"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="photoFilePicker">
              <label for="photoFileInput">
                  <ion-button expand="block">
                      <ion-icon name="photos"></ion-icon>
                  </ion-button>
              </label>
              <input #photoFile id="photoFileInput" type="file" accept='image/*' (change)="pickPhoto(photoFile.files)" />  
          </div>
        </ion-col>
        <ion-col *ngIf="!isMobile">
          <ion-button expand="block" (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>          
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngIf="myItem.imgURI">
      <ion-img [src]="myItem.imgURI"
        [class.exifOrientation3]="(myItem.exifOrientation == 3)"
        [class.exifOrientation6]="(myItem.exifOrientation == 6)"
        [class.exifOrientation8]="(myItem.exifOrientation == 8)"
      ></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>